
@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -.025em;
    display: flex;
    align-content: center;
    justify-content: center;
}
body {
    padding: 0 5%;
}
#upperBar {
    justify-content: space-around;
    display: flex;
}
#loginLink {
    position: relative;
    top: 25%;
}
#navBar {
    display: flex;
    width: 100%;
    justify-content: left;
}
#navButtonsContainer {
    display: flex;
    width: 100%;
}
#navButtonsContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
}
#navButtonsContainer ul li {
    float: left;
    padding: 0.5% 2%;
    background: burlywood
}
#navButtonsContainer ul li a {

}
#search {
    background: antiquewhite;
}
#searchInput {
    background: antiquewhite;
    padding: 0.5%;
}

.hidden {
  display: none;
}
* {
  color: aqua;
}
.s {
  counter-reset: 12;
}